@charset "utf-8";

body {
    line-height: 1.8;
}

nav ul {
    padding-left: 0ex;
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 2ex;
}

input {
    width: 90vw;
}

.table .row {
    margin-top: 2ex;
}

.hidden {
    display: none;
}

.valid {
    background-color: greenyellow;
}

.error {
    background-color: pink;
}

#suggest {
    position: absolute;
    border: 1px solid gray;
    background-color: white;
}

#suggest div {
    margin: 0ex;
    padding: 0.5ex 1ex;
    overflow: hidden;
    white-space: nowrap;
}

#suggest div.select {
    color: white;
    background-color: dodgerblue;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

    #pattern {
        width: 50ex;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        padding: 0.5ex 1ex;
        vertical-align: middle;
    }

}

