@charset "utf-8";

nav span {
    margin-right: 1ex;
}

input {
    width: 90%;
}

.table .row {
    margin-top: 2ex;
}

.valid {
    background-color: greenyellow;
}

.error {
    background-color: pink;
}

#suggest {
    position: absolute;
    border: 1px solid gray;
    background-color: white;
}

#suggest div {
    margin: 0ex;
    padding: 0.5ex 1ex;
    overflow: hidden;
    white-space: nowrap;
}

#suggest div.select {
    color: white;
    background-color: dodgerblue;
}

@media (min-width: 768px) {

    #pattern {
        width: 50ex;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        padding: 0.5ex 1ex;
        vertical-align: middle;
    }

}

