@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

nav span {
    margin-right: 1ex;
}

input {
    width: 90vw;
}

input[type="radio"] {
    width: auto;
}

button {
    margin-top: 2ex;
    width: 90vw;
}

svg {
    margin: 2ex 0ex 0ex 0ex;
    border: 1px solid gray;
    width: 90vw;
    height: 90vw;
}

section {
    margin-bottom: 10ex;
}

.table .row {
    margin-top: 2ex;
}

.table .row .note {
    padding-left: 1ex;
    font-size: small;
}

.hidden {
    display: none;
}

.valid {
    background-color: greenyellow;
}

.error {
    background-color: pink;
}

#suggest {
    position: absolute;
    border: 1px solid gray;
    background-color: white;
}

#suggest div {
    margin: 0ex;
    padding: 0.5ex 1ex;
    overflow: hidden;
    white-space: nowrap;
}

#suggest div.select {
    color: white;
    background-color: dodgerblue;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

    h2 {
        margin: 0ex;
    }

    #pattern {
        width: 50ex;
    }

    input[type="number"] {
        width: 10ex;
    }

    button {
        margin-top: 0ex;
        width: auto;
    }

    svg {
        width: 300px;
        height: 300px;
    }

    section {
        margin: 3ex 0ex;
        border: 1px solid gray;
        padding: 2ex;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        padding: 0.5ex 1ex;
        vertical-align: middle;
    }

}

