@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

nav span {
    margin-right: 1ex;
}

#pattern {
    width: 90vw;
    color: black;
    background-color: white;
}

table {
    border: 1px outset gray;
    border-collapse: collapse;
}

table tr th {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

table tr td {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

.valid {
    background-color: greenyellow;
}

.error {
    background-color: pink;
}

.area {
    height: 35ex;
}

.number {
    text-align: right;
}

#suggest {
    position: absolute;
    border: 1px solid gray;
    background-color: white;
}

#suggest div {
    margin: 0ex;
    padding: 0.5ex 1ex;
    overflow: hidden;
    white-space: nowrap;
}

#suggest div.select {
    color: white;
    background-color: dodgerblue;
}

@media (min-width: 768px) {

    body {
        line-height: 1.5;
    }

    #pattern {
        width: 50ex;
    }

    .area {
        height: 30ex;
    }

}

